---
layout: layouts/home.njk
---

<article>
	<h1>walled city</h1>
	<div class="assembly">
		<div class="faces">
			<div class="face face--left">
				<blockquote>
					<p>“But when we give up symbols and opinions, aren’t we left in the utter nothingness of being?”</p>
					<p>Yes.</p>
				</blockquote>
			</div>
			<div class="face face--right" style="background-image: url('/img/37.jpeg');">
				<img src="/img/37.jpeg" />
			</div>
			<div class="face face--top">
			</div>
		</div>
		<aside class="info">
			<code>
				Fineliner on mixed-media paper.<br />
				July 2020.
			</code>
		</aside>
	</div>
</article>
