---
layout: layouts/home.njk
---

<div class="assembly">
	<div class="cube">
		<div class="container">
			<div class="cube__face face--left">
				<div>Face with a lot of text that will eventually wrap if it gets big enough.</div>
			</div>
			<div class="cube__face face--right">
				<div>Content face</div>
			</div>
		</div>
	</div>	
</div>